/*Footer Stylesheet
Riley Karp
11/5/2017*/

/*Footer*/
footer {
  color: #FFA07A;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000080;
  font-size: 16px;
  padding: 10px 10px;
}

/*Social Media Buttons*/
.social {
  /*Circle*/
  background: #FFA07A;
  padding: 5px 5px;
  width: 15px;
  text-align: center;
  border-radius: 50%;

  /*Text*/
  color: #000080;
  font-size: 16px;

  /*Position*/
  position: relative;
  float: right;
  right: 20px;
}

.social:hover {
  color: #FFA07A; /*Text*/
  background: white; /*Circle*/
}
