/*Header Stylesheet
Riley Karp
11/5/2017*/

header {
  width: 100%;
  background: #000080;
  float: left;
}

a {
    float: left;
    display: block;
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

a:hover {
  background: white;
  color: #FFA07A;
}

a.active {
  background: #FFA07A;
  color: #000080;
  font-weight: bold;
}
