/*Homepage Stylesheet
Riley Karp
11/4/2017*/
html {
    height: 100%;
}

/*Background gradient*/
body {
  background: #000080;
  background: -webkit-linear-gradient(#000080, #FFA07A);
  background:    -moz-linear-gradient(#000080, #FFA07A);
  background:         linear-gradient(#000080, #FFA07A);
  background-repeat: no-repeat;
}

/*Name*/
h1 {
  color: #FFA07A;
  font-weight: bold;
  font-size: 150px;
  text-align: center;
  position: relative;
  top: 75px;
}

p {
  color: #FFA07A;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 100px;
}

/*Links*/
a {
  text-decoration: none;
  color: #000080;
  font-weight: bold;
}

a:hover {
  color: #FFFFFF;
}

/*Buttons*/
section {
  border-radius: 5px;
  color: #000080;
  cursor: pointer;
  /*display: inline-block;*/
  border: 2px solid #000080;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
  font-size: 40px;
  margin: 1.5%;
  text-align: center;
  overflow: hidden;
}

section:hover {
  color: #FFA07A;
  border: 5px solid #FFA07A;
}

/*Button Positions*/
#about {
  float: left;
  position: relative;
  left: 27.5%;
  top: 110px;
}

#dali {
  float: left;
  position: relative;
  left: 27.5%;
  top: 110px;
}

#hobbies {
  float: left;
  position: relative;
  left: 27.5%;
  top: 50px;
}

#resume {
  float: left;
  position: relative;
  left: 27.5%;
  top: 50px;
}
